/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


.rim.x-grid3-row,.rim {
	background-color:#bedeff;
}

.core.x-grid3-row,.core {
	background-color:#ff7979;
}

.surface.x-grid3-row,.surface {
	background-color:white;
}

.buried.x-grid3-row,.buried {
	background-color:#CDCDCD;
}

.summary.x-grid3-row,.summary {
	border-color: #ddd;
    background-color: #efefef;
    background-image: url(../images/default/grid/row-over.gif);
}

.x-grid3-row td.x-grid3-cell,.x-grid3-summary-row td.x-grid3-cell {
	vertical-align:middle;
}

.crk-default-label {
	font-size: 12px;
	white-space: nowrap;
}

.x-grid-empty {
  	padding: 10px;
  	font-size: 20px;
  	text-align: center;
}

.pdb-identifier-label {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
}

.aggregation-row-head
{
	text-align: left;
	font-weight: bold;
}