@media screen and (-webkit-min-device-pixel-ratio:0) {
	.x-grid3-row td.x-grid3-cell { 
		padding-left: 0; 
		padding-right: 0; 
	}
}

.x-grid3-row td.x-grid3-cell,.x-grid3-summary-row td.x-grid3-cell {
	vertical-align:middle;
}

.x-grid-empty {
  	padding: 10px;
  	font-size: 20px;
  	text-align: center;
}

.eppic-default-label {
	font-size: 12px;
	white-space: nowrap;
}

.eppic-bold-label {
	font-size: 12px;
	white-space: nowrap;
	font-weight: bold;
}

.eppic-action A:link {text-decoration: none; font-weight:bold; font-size: 14px}
.eppic-action A:visited {text-decoration: none; font-weight:bold; font-size: 14px}
.eppic-action A:active {text-decoration: none; font-weight:bold; font-size: 14px}
.eppic-action A:hover {background: #5288DB; color: white; font-weight:bold; font-size: 14px}

.eppic-internal-link A:link {text-decoration: none; font-size: 14px}
.eppic-internal-link A:visited {text-decoration: none; font-size: 14px}
.eppic-internal-link A:active {text-decoration: none; font-size: 14px}
.eppic-internal-link A:hover {text-decoration: underline; font-size: 14px}

.eppic-external-link A:link {text-decoration: none; font-size: 14px}
.eppic-external-link A:visited {text-decoration: none; font-size: 14px}
.eppic-external-link A:active {text-decoration: none; font-size: 14px}
.eppic-external-link A:hover {text-decoration: underline; font-size: 14px}

.eppic-horizontal-nav A:link {text-decoration: none; font-weight:bold; font-size: 14px}
.eppic-horizontal-nav A:visited {text-decoration: none; font-weight:bold; font-size: 14px}
.eppic-horizontal-nav A:active {text-decoration: none; font-weight:bold; font-size: 14px}
.eppic-horizontal-nav A:hover {background: #5288DB; color: white; font-weight:bold; font-size: 14px}

.eppic-monospaced-font {
	font-size: 10pt;
	font-family: courier;
}

.eppic-default-padding {
	padding: 10px;
}

.eppic-default-top-padding {
	padding-top: 10px;
}

.eppic-default-left-padding {
	padding-left: 10px;
}

.eppic-default-left-margin {
	margin-left: 10px;
}

.eppic-grid-row-rim.x-grid3-row,.eppic-grid-row-rim {
	background-color:#bedeff;
}

.eppic-grid-row-core.x-grid3-row,.eppic-grid-row-core {
	background-color:#ff7979;
}

.eppic-grid-row-surface.x-grid3-row,.eppic-grid-row-surface {
	background-color:white;
}

.eppic-grid-row-buried.x-grid3-row,.eppic-grid-row-buried {
	background-color:#CDCDCD;
}

.eppic-summary-grid-row.x-grid3-row,.eppic-summary-grid-row {
	border-color: #ddd;
    background-color: #efefef;
    background-image: url(../images/default/grid/row-over.gif);
}

.eppic-pdb-identifier-label {
	font-size: 22px;
	font-family: Arial;
	font-weight: bold;
}
.eppic-pdb-identifier-label A:link {text-decoration: none}
.eppic-pdb-identifier-label A:visited {text-decoration: none}
.eppic-pdb-identifier-label A:active {text-decoration: none}
.eppic-pdb-identifier-label A:hover {text-decoration: underLine}

.eppic-pdb-spacegroup-label {
	font-weight: normal;
}

.eppic-pdb-title-label {
	font-size: 12px;
}

.eppic-my-jobs-list-status {
	font-weight: bold;
}

.eppic-results-final-call {
	font-weight: bold;
	font-size: 14px;
}

.eppic-tooltip-list {
	list-style: disc;
	margin: 0px 0px 0px 15px;
}

.eppic-help-panel {
	background-color: #ffffff;
}