.eppic-iframe h1 {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	margin-left: 15px;
	margin-right: 20px;
	margin-top: 20px;	
	margin-bottom: 5px;
}

.eppic-iframe h2 {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:16px;
	font-weight:bold;	
	margin-left: 15px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 0px;	
}

.eppic-iframe p {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:14px;
	line-height:125%;
	margin-left: 15px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.eppic-iframe code {
	font-size:14px;
	font-family:monospace;
	margin-left: 15px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.eppic-iframe ul {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size:14px;
	margin-left: 15px;
	margin-right: 20px;
	line-height:125%;
}

.eppic-iframe A:link {text-decoration: none}
.eppic-iframe A:visited {text-decoration: none}
.eppic-iframe A:active {text-decoration: none}
.eppic-iframe A:hover {text-decoration: underline}

/*
The style for the list items in Release Log, apply it to enclosing ul element 
*/
.eppic-iframe-log-list li {
	margin-top: 10px;	
}

.eppic-iframe-top-img {
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:200px;
	height:80px;
}

.eppic-iframe-left-img {
	float:left;
	margin-right: 15px;
}

.eppic-iframe-right-img {
	float:right;
}

.eppic-iframe-bottom-logos {
	margin-top: 50px;
	margin-right: 20px;
	margin-left: 20px;
}


/*
Displaying 3 images, third is the one in middle, not quite centered. 
In a 1280px-wide screen it should be centered
*/
.first {
	display:block;
    float:left;      
    margin-right: 120px; /* this separates the middle image */
	margin-left: 20px;
	margin-top: 50px;
    
}
.second {
	display:block;
    float:right;
    margin-right: 20px;
	margin-left: 20px;
	margin-top: 50px;
    
}
.third {
	display:block;
    /*margin:0 auto;*/
    margin-left: 20px;
    margin-top: 50px;
}
