.eppic-iframe{
	font-family: 'Open Sans', sans-serif;
}

.eppic-iframe-content {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 200px;
}

.eppic-iframe h1 {
	font-size:28px;
	font-weight:bold;
	margin-top: 40px;	
	margin-bottom: 20px;
}

.eppic-iframe h2 {
	font-size:20px;
	font-weight:bold;	
	margin-top: 70px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #434350;
}

.eppic-iframe h3 {
	font-size:18px;
	font-weight:bold;
	margin-top: 20px;
	margin-bottom: 0px;
}

.eppic-iframe h4{ 
	font-size:16px; 
	font-weight:bold;
	margin-top: 20px;
	margin-bottom: 0px;
}

.eppic-iframe p {
	font-size:16px;
	line-height:125%;
	margin-top: 10px;
	margin-bottom: 0px;
}

.eppic-iframe code {
	font-size:14px;
	font-family:monospace;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.eppic-iframe ul {
	font-size:16px;
	line-height:125%;
}

.eppic-iframe li{ 
	margin-bottom:15px; 
}


.eppic-iframe A:link {color: #15428B; text-decoration: none}
.eppic-iframe A:visited {color: #15428B; text-decoration: none}
.eppic-iframe A:active {color: #15428B; text-decoration: none}
.eppic-iframe A:hover {color: #15428B; text-decoration: underline}

/*
The style for the list items in Release Log, apply it to enclosing ul element 
*/
.eppic-iframe-log-list li {
	margin-top: 10px;	
}


.eppic-iframe-optype-img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    vertical-align: middle;
    border:1px solid #dbdbdb;
    border-radius:2px;
}

.eppic-iframe-top-img {
	margin-left:auto;
	margin-right:auto;
	display: block;
	width:200px;
	height:80px;
}

.eppic-iframe-left-img {
	float:left;
	margin-right: 15px;
}

.eppic-iframe-right-img {
	float:right;
}

.eppic-iframe-bottom-logos {
	margin-top: 50px;
	margin-right: 20px;
	margin-left: 20px;
}


/*
EPPIC HELP PAGE STYLES
*/

.eppic-help-navigation{font-size:16px; float:right; width:350px; margin-left: 150px; margin-bottom: 50px;background-color:#F7F7F7; padding:10px;}
.eppic-help-navigation p {font-size:16px; margin: 0 0 5px 70px;}
.eppic-help-navigation ul {list-style: none; }
.eppic-help-navigation li {font-size:14px; margin-left:5px;}
.eppic-help-navigation A {color: #15428B; text-decoration:none;}
.eppic-help-navigation A:hover {color:#FF9900;}
.eppic-help-navigation A:visited {color: #15428B; text-decoration: none;}
.eppic-help-navigation-header {margin-left:10px; margin-top:10px; font-weight:bold; color:#434350;}

.eppic-help-subtopic {width:100%; overflow: hidden; clear: both;}
.eppic-help-subtopic-left-small {float:left; width:30%; }
.eppic-help-subtopic-left-big {float:left; width:70%; }
.eppic-help-subtopic-right-small {float: right; width:30%; }
.eppic-help-subtopic-right-big {float: right; width:70%; }
.eppic-help-subtopic-image{margin:10px; width:85%; position:relative; box-shadow:2px -2px 10px 3px #888, inset 2px -2px 10px 3px #888;}
.eppic-help-subtopic-image:hover {width:150%; transition: all 0.3s; -webkit-transition: all 0.3s; box-shadow:4px -4px 10px 3px #888, inset 4px -4px 10px 3px #888;}
.eppic-help-subtopic-image-right{float:right; margin:10px; width:85%; position:relative; box-shadow:2px -2px 10px 3px #888, inset 2px -2px 10px 3px #888;}
.eppic-help-subtopic-image-right:hover{float:right; width:150%; transition: all 0.3s; -webkit-transition: all 0.3s; box-shadow:4px -4px 10px 3px #888, inset 4px -4px 10px 3px #888;}
.eppic-help-subtopic-image-no-animation{width:95%; margin:10px; box-shadow:2px -2px 10px 3px #888, inset 2px -2px 10px 3px #888;}

.eppic-iframe-footer{
	width: 100%;
	font-size: 12px;
	margin: 0 auto;
	padding: 5px;
	padding-top: 10px;
    background: #FFFFFF; 
    position: fixed;
    bottom:0;
    z-index: 2;
    border-top: 3px solid #888;
}

.eppic-iframe-footer p{
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 5px;
	vertical-align: top;
}

.eppic-iframe-footer A{
	vertical-align: top;
}

.eppic-iframe-footer img{
	width: 120px;
	margin: 5px;
}

.eppic-iframe-footer-left{
	margin-top: 25px;
	float:left;
	text-align: left;
}

.eppic-iframe-footer-right{
	width:400px;
	float:right;
	text-align: center;
	margin-right:30px;
}

