<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<Console name="ConsoleStdOut" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="ConsoleStdOut"/>
		</root>
		<!-- Specific logging for packages here -->
		<Logger name="com.mchange" level="warn" additivity="false">
            <appender-ref ref="ConsoleStdOut"/>
        </Logger>
		<Logger name="org.hibernate" level="warn" additivity="false">
			<appender-ref ref="ConsoleStdOut"/>
		</Logger>
	</loggers>
</configuration>