<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <context-param> 
       	<param-name>servletContPath</param-name> 
       	<param-value>ewui</param-value> 
    </context-param>
    
    <context-param>
  		<param-name>gwt.xsrf.session_cookie_name</param-name>
  		<param-value>JSESSIONID</param-value>
	</context-param>
	
	<filter>
		<filter-name>GzipFilter</filter-name>
		<!-- The gzip filter for older versions of jetty-->
		<!-- <filter-class>org.mortbay.servlet.jetty.IncludableGzipFilter</filter-class> -->
		<!-- <filter-class>org.mortbay.servlet.GzipFilter</filter-class> -->

		<!-- The gzip filter for jetty 8.1 and 9.2 -->
		<filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
		
		<!-- The gzip filter for jetty 9.3 -->
		<!-- <filter-class>org.eclipse.jetty.server.handler.gzip.GzipHandler</filter-class> -->	
		 
		<init-param>
			<param-name>mimeTypes</param-name>
			<param-value>text/html,text/plain,text/xml,application/xhtml+xml,text/css,application/javascript,image/svg+xml,chemical/x-cif,application/json,application/xml</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>CrawlerFilter</filter-name>
		<filter-class>ch.systemsx.sybit.crkwebui.server.crawler.servlets.CrawlerFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>cross-origin</filter-name>
		<filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
		<init-param>
			<param-name>allowedOrigins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>allowedMethods</param-name>
			<param-value>GET,POST,OPTIONS,DELETE,PUT,HEAD</param-value>
		</init-param>
		<init-param>
			<param-name>allowedHeaders</param-name>
			<param-value>X-Requested-With,Content-Type,Accept,Origin</param-value>
		</init-param>
		<init-param>
			<param-name>chainPreflight</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>GzipFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>CrawlerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>cross-origin</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>CrkService</servlet-name>
		<servlet-class>ch.systemsx.sybit.crkwebui.server.CrkWebServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
  		<servlet-name>xsrf</servlet-name>
  		<servlet-class>com.google.gwt.user.server.rpc.XsrfTokenServiceServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>FileUploadService</servlet-name>
	    <servlet-class>ch.systemsx.sybit.crkwebui.server.files.uploader.servlets.FileUploadServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>FileDownloadService</servlet-name>
	    <servlet-class>ch.systemsx.sybit.crkwebui.server.files.downloader.servlets.FileDownloadServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>DataDownloadService</servlet-name>
	    <servlet-class>ch.systemsx.sybit.crkwebui.server.files.downloader.servlets.DataDownloadServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>JmolViewerService</servlet-name>
	    <servlet-class>ch.systemsx.sybit.crkwebui.server.jmol.servlets.JmolViewerServlet</servlet-class>
	</servlet>

	<servlet>
	    <servlet-name>LatticeGraphService</servlet-name>
	    <servlet-class>ch.systemsx.sybit.crkwebui.server.jmol.servlets.LatticeGraphServlet</servlet-class>
	</servlet>

	<servlet>
	    <servlet-name>AssemblyDiagramService</servlet-name>
	    <servlet-class>ch.systemsx.sybit.crkwebui.server.jmol.servlets.AssemblyDiagramServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CrkService</servlet-name>
		<url-pattern>/ewui/crk</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>xsrf</servlet-name>
  		<url-pattern>/ewui/xsrf</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>FileUploadService</servlet-name>
	    <url-pattern>/ewui/fileUpload</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
	    <servlet-name>FileDownloadService</servlet-name>
	    <url-pattern>/ewui/fileDownload</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
	    <servlet-name>DataDownloadService</servlet-name>
	    <url-pattern>/ewui/dataDownload</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
	    <servlet-name>JmolViewerService</servlet-name>
	    <url-pattern>/ewui/jmolViewer</url-pattern>
 	</servlet-mapping>
 	
 	<servlet-mapping>
	    <servlet-name>LatticeGraphService</servlet-name>
	    <url-pattern>/ewui/latticeGraph</url-pattern>
 	</servlet-mapping>

 	<servlet-mapping>
	    <servlet-name>AssemblyDiagramService</servlet-name>
	    <url-pattern>/ewui/assemblyDiagram</url-pattern>
 	</servlet-mapping>

 	<!-- Session timeout: if the client is idle for more than this time (in minutes) 
         then the session is lost. 1440min = 24x60min -->
 	 <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>
    
    <welcome-file-list>
		<welcome-file>Ewui.html</welcome-file>
	</welcome-file-list>

</web-app>
