// Run with dot -Tpng -Kneato -O -n2 dotfile
digraph "{{title}}" {
	graph [
	    // we use splines="line" instead of "curved" to fix https://github.com/eppic-team/eppic/issues/134
	    // whenever the problem is fixed in dot graphviz, we could switch back to curved 
		splines="line"
		size="{{size}},{{size}}!"
		dpi="{{dpi}}"
		ratio="fill"
		bgcolor="transparent"
	]
	node [
		style="filled"
		fillcolor="#a6cee3"
		color="#a6cee3"
		width="1.5"
		regular="true"
		label=""
	]
	edge [
		dir="none"
		penwidth="10"
	]

{{#graph2D.vertexSet}}
	"{{toString}}" [ pos="{{center.x}},{{center.y}}"{{#colorStr}} color="#{{colorStr}}" fillcolor="#{{colorStr}}"{{/colorStr}}]
{{/graph2D.vertexSet}}

{{#graph2D.edgeSet}}
	"{{source}}" -> "{{target}}" {{#colorStr}}[ color="#{{colorStr}}" ]{{/colorStr}}
{{/graph2D.edgeSet}}
}