@media screen and (-webkit-min-device-pixel-ratio:0) {
	.x-grid3-row td.x-grid3-cell { 
		padding-left: 0; 
		padding-right: 0; 
	}
}

.x-grid3-row td.x-grid3-cell,.x-grid3-summary-row td.x-grid3-cell {
	vertical-align:middle;
}

.x-grid-row-summary, .x-grid-row-summary td{
	text-align: center;
	font-size: 14px;
	font-style: italic;
	color: #15428B;
}

.eppic-default-font, .eppic-default-font td, .eppic-default-font tr, .eppic-default-font input{
	font-family: 'Open Sans', sans-serif;
}

.eppic-default-label {
	font-size: 12px;
	white-space: nowrap;
}

.eppic-bold-label {
	font-size: 12px;
	white-space: nowrap;
	font-weight: bold;
}

.eppic-action {vertical-align:top; text-decoration: none; font-weight:bold; font-size: 14px; color: #434350}
.eppic-action A:link {vertical-align:top; text-decoration: none; font-weight:bold; font-size: 14px; color: #434350}
.eppic-action A:visited {vertical-align:top; text-decoration: none; font-weight:bold; font-size: 14px; color: #434350}
.eppic-action A:active {vertical-align:top; text-decoration: none; font-weight:bold; font-size: 14px; color: #434350}
.eppic-action A:hover 
{vertical-align:top; text-decoration: underline; font-weight:bold; font-size: 14px; color: #434350}

.eppic-internal-link A:link {text-decoration: none; font-size: 14px}
.eppic-internal-link A:visited {text-decoration: none; font-size: 14px}
.eppic-internal-link A:active {text-decoration: none; font-size: 14px}
.eppic-internal-link A:hover 
{text-decoration: underline; font-size: 14px}

.eppic-download-link A:link {color: #15428B; text-decoration: none; font-size: 12px}
.eppic-download-link A:visited {color: #15428B; text-decoration: none; font-size: 12px}
.eppic-download-link A:active {color: #15428B; text-decoration: none; font-size: 12px}
.eppic-download-link A:hover {color: #15428B; text-decoration: underline; font-size: 12px}

.eppic-footer-link {color: #15428B;text-decoration: none; font-size: 10px}
.eppic-footer-link A:link {color: #15428B; text-decoration: none; font-size: 10px}
.eppic-footer-link A:visited {color: #15428B; text-decoration: none; font-size: 10px}
.eppic-footer-link A:active {color: #15428B; text-decoration: none; font-size: 10px}
.eppic-footer-link A:hover {color: #15428B; text-decoration: underline; font-size: 10px}

.eppic-external-link A:link {color: #15428B; vertical-align:top; text-decoration: none; font-size: 14px;}
.eppic-external-link A:visited {color: #15428B; vertical-align:top; text-decoration: none; font-size: 14px;}
.eppic-external-link A:active {color: #15428B; vertical-align:top; text-decoration: none; font-size: 14px;}
.eppic-external-link A:hover 
{color: #15428B; vertical-align:top; text-decoration:underline; font-size: 14px;}

.eppic-horizontal-nav{font-family: Arial, serif; text-decoration: none; font-weight:bold; font-size: 14px; color: #434350}
.eppic-horizontal-nav A:link {font-family: Arial, serif; text-decoration: none; font-weight:bold; font-size: 14px; color: #434350}
.eppic-horizontal-nav A:visited {font-family: Arial, serif; text-decoration: none; font-weight:bold; font-size: 14px; color: #434350}
.eppic-horizontal-nav A:active {font-family: Arial, serif; text-decoration: none; font-weight:bold; font-size: 14px; color: #434350}
.eppic-horizontal-nav A:hover 
{font-family: Arial, serif; text-decoration: none; border-bottom:2px solid #C5C5C5; font-weight:bold; font-size: 14px; color: #434350}

.eppic-monospaced-font, .eppic-monospaced-font input, .eppic-monospaced-font textarea {
	font-size: 10pt;
	font-family: "Courier New", courier, monospace;
}

.eppic-default-padding {
	padding: 5px;
}

.eppic-default-top-padding {
	padding-top: 10px;
}

.eppic-default-right-padding {
	padding-right: 10px;
}

.eppic-no-padding {
	padding: 0px;
}

.eppic-default-left-padding {
	padding-left: 10px;
}

.eppic-default-left-margin {
	margin-left: 5px;
}

.eppic-grid-row-rim.x-grid3-row,.eppic-grid-row-rim,.eppic-grid-row-rim td{
	background-color:#bedeff;
}

.eppic-grid-row-core-evolutionary.x-grid3-row,.eppic-grid-row-core-evolutionary, .eppic-grid-row-core-evolutionary td {
	background-color:#ff7979;
}

.eppic-grid-row-core-geometry.x-grid3-row,.eppic-grid-row-core-geometry,.eppic-grid-row-core-geometry td {
	background-color:#EE2C2C;
}

.eppic-grid-row-surface.x-grid3-row,.eppic-grid-row-surface, .eppic-grid-row-surface td {
	background-color:white;
}

.eppic-grid-row-buried.x-grid3-row,.eppic-grid-row-buried, .eppic-grid-row-buried td {
	background-color:#CDCDCD;
}

.eppic-results-header-panel{
	border-bottom: 3px solid #C5C5C5;
}

.eppic-summary-grid-row.x-grid3-row,.eppic-summary-grid-row {
	border-color: #ddd;
    background-color: #efefef;
    background-image: url(../images/default/grid/row-over.gif);
}

.eppic-pdb-identifier-label {
	font-size: 22px;
	font-weight: bold;
	margin-right: 5px;
}
.eppic-pdb-identifier-label A:link {text-decoration: none; color: #15428B;}
.eppic-pdb-identifier-label A:visited {text-decoration: none; color: #15428B;}
.eppic-pdb-identifier-label A:active {text-decoration: none; color: #15428B;}
.eppic-pdb-identifier-label A:hover {text-decoration: underline; color: #15428B;}

.eppic-header-warning {
	font-weight: normal;
	color: #FF0000;
	padding-left:20px;
}

.eppic-pdb-spacegroup-label {
	font-weight: normal;
}

.eppic-pdb-title-label {
	font-size: 12px;
}

.eppic-homologs-window-query{
	font-size: 14px;
	font-weight:bold;
}

.eppic-my-jobs-list-input {
	font-size: 14;
}

.eppic-results-grid td{
	vertical-align:middle;
}

.eppic-results-grid-tooltip{
	font-size:12px;
}

.eppic-results-grid-common-cells{
	text-align: center;
	font-size: 14px;
}

.eppic-results-grid-summary-cells{
	text-align: center;
	font-size: 14px;
	font-style: italics;
}

.eppic-results-final-call {
	font-weight: bold;
	font-size: 16px;
}

.eppic-results-no-interfaces-found {
  	padding: 10px;
  	font-size: 20px;
  	text-align: center;
}

.eppic-results-no-interfaces-found-hint {
  	padding: 5px;
  	font-size: 14px;
  	text-align: center;
  	font-style: italic;
}

.eppic-status-label{
	font-weight:bold;
}

.eppic-status-log, .eppic-status-log textarea {
	font-family: "Courier New", courier, monospace;
}

.eppic-tooltip-list {
	list-style: disc;
	margin: 0px 0px 0px 0px;
}

.eppic-text-panel {
	background-color: #ffffff;
}

.eppic-panel-with-gray-background {
	background-color: #f0f0f0;
}

.eppic-input-title {
	font-weight: bold;
	font-size: 20px;
	white-space: nowrap;
}

.eppic-input-news-header {
	font-weight: bold;
	color: red;
}

.eppic-uniprot-version {
	font-size: 11px;
	color: #15428B;
	font-weight: bold;
}

.eppic-version {
	font-style: italic;
	font-weight: bold;
	font-size: 11px;
	color: #15428B;
	padding-left: 70px;
}

.eppic-citation A:link {color: #15428B; text-decoration: none}
.eppic-citation A:visited {color: #15428B; text-decoration: none}
.eppic-citation A:active {color: #15428B; text-decoration: none}
.eppic-citation A:hover {color: #15428B; text-decoration: underline}

.eppic-rounded-border {
	border-radius: 5px;
}

.eppic-input-bg {
	background-image:url('resources/images/main_bg.png');
	background-repeat:no-repeat;
	background-position:center bottom;
}

.eppic-status-message-info {
	color: black;
}

.eppic-status-message-error {
	color: red;
	font-weight: bold;
}

.eppic-homologs-infopanel-buttons {
	cursor: pointer;
}

.eppic-homologs-infopanel {
	float: right;
	padding-right: 50px
}

.eppic-homologs-text-icon-panel-over{
	background: #F1F1F1;
	border-radius: 5px;
}

.eppic-homologstable td {
	padding-right: 5px;
}

.eppic-residues-summary {
	float: center;
	padding-top: 5px;
}

.eppic-residues-summary-fields {
	text-decoration: none; 
	font-weight:bold; 
	font-size: 12px; 
	color: #434350;
}

.eppic-residues-summary-table td {
	text-align: center;
	vertical-align: top;
	padding-right: 5px;
}

.eppic-info-panel {
	padding-top: 5px;
	padding-bottom: 2px;
}

.eppic-general-info-label{
	text-decoration: none; 
	font-weight:bold; 
	font-size: 14px; 
	color: #434350;
	margin-right: 15px;
}

.eppic-general-info-label-value{
	text-decoration: none;  
	font-size: 14px; 
	color: #434350;
	margin-left: 5px;
}

.eppic-top-panel-search-button{
	 background-image: url('resources/icons/find.png');
	 background-repeat:no-repeat;
	 background-position:center;
}

.eppic-top-panel-search-button-over{
	 background-color: #D7DDE8;
}

.eppic-seq-info-panel-more-button{
	 background-image: url('resources/icons/info_icon.png');
	 background-repeat:no-repeat;
	 background-position:center;
}

.eppic-seq-info-panel-warning-button{
	  background-image: url('resources/icons/warning_icon_14x14.png');
	 background-repeat:no-repeat;
	 background-position:center;
}
